body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.content {
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  padding: 0;
  background: linear-gradient(217deg, #43C6AC, #F8FFAE 70.71%) no-repeat center center fixed;
	background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.rounded {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.nav-class {
  background: #FFFFFF;
}
